<nav class="navbar navbar-light" style="background-color:rgba(0,0,0,.07);">
  <span class="navbar-brand mb-0 h1">Future time in different zones</span>
</nav>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm">
         <div class="card bg-secondary text-white" style="width: 18rem;">
           <div class="card-header">Time in Bangalore, India</div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"><angular2-date-picker (onDateSelect)="onDateSelect()" [(ngModel)]="date" [settings]="settings"></angular2-date-picker></p>
            </div>
        </div>
    </div>
    <div class="col-sm">
     <div class="card bg-info text-white" style="width: 18rem;">
      <div class="card-header">Time in Berlin, Germany</div>
        <div class="card-body">
          <p class="card-text">{{europe}}</p>
        </div>
    </div>
    </div>
     <div class="col-sm">
        <div class="card bg-secondary text-white" style="width: 18rem;">
          <div class="card-header">Time in San Francisco, USA</div>
          <div class="card-body">
              <p class="card-text">{{america}}</p>
          </div>
        </div>
    </div>
     <div class="col-sm">
       <app-display [date]="date"></app-display>
    </div>
  </div>
</div>