<nav class="navbar navbar-light" style="background-color:rgba(0,0,0,.07);">
  <span class="navbar-brand mb-0 h1">Future time in different zones</span>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
       <app-display (messageEvent)="receiveMessage($event)"></app-display>
    </div>
      <div class="col-sm">
         <div class="card " style="width: 18rem;">
           <div class="card-header bg-success text-white">Time in India (IST)</div>
            <div class="card-body bg-light">
              <p class="card-text">{{india}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
     <div class="card " style="width: 18rem;">
      <div class="card-header bg-danger text-white">Time in Berlin, Germany (CET)</div>
        <div class="card-body bg-light">
          <p class="card-text">{{europe}}</p>
        </div>
    </div>
    </div>
     <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-header bg-danger text-white">Time in Los Angeles, USA (PST)</div>
          <div class="card-body bg-light">
              <p class="card-text">{{america}}</p>
          </div>
        </div>
    </div>
     
  </div>
</div>