
      <div class="card bg-info" style="width: 18rem;">
        <div class="card-header">
          Time in 
           <div class="btn-group">
              <select class="custom-select" (change)="changeCity($event)" [formControl]="cityName">
               <option value="" disabled>your city</option>
               <option *ngFor="let city of world_timezones" [ngValue]="city">{{city}}</option>
              </select>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{zone}}</p>
        </div>
      </div>

