/* You can add global styles to this file, and also import other style files */
#paypal-button-wrapper{
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

##paypal-button-container{
    display: inline-block;
}